{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <html>
<body style="background-color:#ffff;">


</body>
</html>
<style>
p {
  font-size: 20px; }
div {
  font-size: 15px; }

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
{% load static %}
<h1 style="color:#000000;">***ร้านโต๊ะจีนราชมงคล โภชนา***</h1>
<p style="color:#000000;" >*รับจัดโต๊ะจีน ตั้งแต่ 5 โต๊ะขึ้นไป ราคาถูก อาหารสดคุณภาพดี*<br>
*รับจัดโต๊ะจีน ตั้งแต่ 5 โต๊ะขึ้นไป ราคาถูก อาหารสดคุณภาพดี ไม่สต๊อกสินค้า*<br>
       *จัดโต๊ะจีนนอกสถานที่ ฟรี! ค่าเดินทาง*<br>
    *เรามีทีมงานพร้อมบริการ ไม่ว่าจะเป็น จัดโต๊ะจีนงานแต่งงาน งานบวช งานเลี้ยงบริษัท*<br>
*เมนูอาหาร มีให้เลือกหลายราคา หลากหลายเมนู ทั้งโต๊ะจีนอิสลาม มุสลิม หรือมังสวิรัส อาหารเจ*<br>
    *แนะนำจัดแบบครบวงจร ตกแต่งสถานที่งานแต่งงาน เครื่องเสียงดนตรี*</p>
<div style="color:#000000;">ใช้เพื่อการศึกษาเท่านั้น</div>

</body>
</html>

{% endblock %}