{% extends 'Base.html' %}
{% load static %}
{% block content %}
    <html>
<body style="background-color:#ffff;">


</body>
</html>
<style>
h1 {
    font-size: 40px;
}
p {
  font-size: 25px; }
div {
  font-size: 15px; }

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>

<body>
{% load static %}
<h1 style="color:#000000;">***ร้านโต๊ะจีนราชมงคล โภชนา***</h1>
<p style="color:#000000;" >รับจัดโต๊ะจีน จัดเลี้ยงทั่วประเทศ งานแต่ง งานบวช เลี้ยงพระทำบุญบ้าน<br>
ติดต่อ โทร. 096-230-9768 แฟ็กซ์ 0-2904-0070 ต่อ 3090<br>
E-mail: anda.ke@rmuti.ac.th Website: http://Rmuti.ke.com<br>
<div style="color:#000000;">ใช้เพื่อการศึกษาเท่านั้น</div>

</body>
</html>

{% endblock %}